// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
.nav .user-login {
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav .user-login a {
  display: inline;
}
.container form input {
  display: block;
  margin-top: 0.1em;
}